/* Esto son comentarios en css */

body {

  /* Cambiamos el color del fondo */
  background-color: #0E2943;

  /* Añadimos un margen lateral */
  margin: 50px;

  /* Relleno */
  padding: 2px;

  /* Borde */
  border: none;
}

#listas {
  text-align: none;
  margin: 50px;
}

h1 {
  color: #FFB62E;
  font-family: verdana;
  font-size: 300%;
  margin: 20px;
  padding:5px;
  border: none;
}

h3 {
  color: #FFB62E;
  font-family: verdana;
  font-size: 150%;
  margin: 20px;
  padding:5px;
  border: none;
}
p {
  color: #F7F7F7;
  font-family: courier;
  font-size: 100%;
}
ol {
  color: #F7F7F7;
  font-family: courier;
  font-size: 100%;
}
ul {
  color: #F7F7F7;
  font-family: courier;
  font-size: 100%;
}
div {
  color: #F7F7F7;
  font-family: courier;
  font-size: 100%;
}
a {
  color: #66BEEE;
  font-family: courier;
  font-size: 100%;
}
