body {
  background-color: #e6f0ff;
  margin: 50px;
}
h1 {
  color: #ff0000;
  font-family: verdana;
  font-size: 300%;
  border: 1px solid powderblue;
  padding: 30px;
}
p {
  color: #009933;
  font-family: courier;
  font-size: 160%;
}
p.claseee {
  color: red;
}
#espesial {
  color: blue;
}
