/* Esto son comentarios en css */

body {

  /* Cambiamos el color del fondo */
  background-color: #e6f0ff;

  /* Añadimos un margen lateral */
  margin: 50px;
}
h1 {
  color: #ff0000;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: #009933;
  font-family: courier;
  font-size: 100%;
}
p.claseee {
  color: red;
}
#espesial {
  color: blue;
}
