body {
    background-color: #000033;
    color: white;
    text-align: center;
}

.orig {
  text-align: center;
  display: inline-table;
}

.desliz {
  text-align: center;
  display: inline-table;
}
