/* Fondo de la página */
body {
    background-color: #000033;
    color: white;
    text-align: center;
}

/* Estilo para el canvas: Negro */
#canvas {
  background-color: #1A237E;
  margin-top: 30px;
  margin-bottom: 15px;
}

#izquierda {
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
}

#derecha {
  text-align: right;
  margin-left: 300px;
  margin-right: 300px;
}

div {
  text-align: center;
  display: inline-table;
}
