/* Estilo para la clase boton_emision */

body {
    background-color: #000033;
    color: white;
    text-align: center;
}

.boton_emision {
  background-color: #50FF4C;
  text-align: center;
}

.boton_emergencia {
  background-color: #FF1D1D;
  text-align: center;
}

.boton_emergencia {
  margin-top: 30px;
}

div {
  text-align: center;
  display: inline-table;
}

.bordecito{
  border-color: red;
  border-style: solid;
}
